#app {
  background-size: 80% 100%;
  background-position: right;
  background-image: url('../assets/imagesAll/giphy.gif');
  background-repeat: no-repeat;
  height: 70%;
  width: 70%;

}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
html {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
